/*Link style order: LoVHAte
------------------------------------ */
a,a:link		{color: #38adda;}
a:visited		{color: #2d8db2;}
a:focus,a:hover	{color: #efefef;background:#333;}
a:active		{color: #333; background:#F7A236;}

.current a{
	background: #333;
	color: #efefef;
}

/* Horiztonal Navigation Styling
------------------------------------ */
h1 {
	width:48.3333333%
		float:left
h1 {
  width: 48.3333333%;   /* 580px ÷ 1200px */
  float: left;
}
nav[role="navigation"] ul {
  width: 48.3333333%;   
  float: left;
  margin-top: 10px;
 
}

@media screen and (max-width:43.375em) {
  	h1, nav[role="navigation"] ul {
    		width: auto;
    		float: none;
    		margin-bottom: 5%;
    /* helps to center nav between the headers */
  }
}

@media screen and (max-width: 22.5em) {
  nav[role="navigation"] li a {
    display: block;
    border-bottom: 1px solid #ccc;
  }
}

